<div>
	<!-- <a href="#" class="link-populate-jqgrid">Populate jqGrid</a> -->
	<table id="grid-test" class="grid-test"></table>
	<div id="pager-grid-test"></div>

	<div id="controls">
		<a href="#" id="link-add-row">Add row</a>
	</div>
</div>